<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="./a.js?time=<%=new Date().getTime()%>"></script>
    <meta name=”viewport” content=”width=device-width, initial-scale=1″ />
</head>
<h1>题目：</h1>
<p style="text-align: center;">
<img style="text-align:center;" src="Picture/IMG_20210723_130306.jpg"width="365" height="120"></img>
</p>
<br>
<h3>A.“人造鸡蛋”不溶于蒸馏水</h3>
<br>
<h3>B.“人造鸡蛋”可以在食醋中变软 能有气泡产生</h3>
<br>
<h3>C.长期食“人造鸡蛋”，明矾会对人体造成伤害明矾会对人体造成伤害明矾会对人体造成伤害</h3>
<br>
<h3>D.“人造鸡蛋”没有蛋白质不会变质</h3>
<h5 style="text-align:center;color:white;background:red;">凤凰学业  548823961</h5>
<h5 style="text-align:center;color:white;background:red;">Copyright © 2021 YFHXYA. All rights reserved.</h5>
</html>