#wrap {
    width: 242px;
    height: 232px;
}
a {
    padding-left: 24px;
    text-decoration: none;
}
span {
    color: #999;
    font-size: 12px;
    display: block;
    padding-left: 24px;
    padding-bottom: 6px;
}
p { margin: 4px; }
a[href^="http:"] { /*匹配所有有效超链接*/ }
a[href$="pdf"] { /*匹配PDF文件*/ background: url(images/pdf.jpg) no-repeat left center; }
a[href$="ppt"] { /*匹配演示文稿*/ background: url(images/ppt.jpg) no-repeat left center; }
a[href$="txt"] { /*匹配记事本文件*/ background: url(images/txt.jpg) no-repeat left center; }
a[href$="doc"] { /*匹配Word文件*/ background: url(images/doc.jpg) no-repeat left center; }
a[href$="xls"] { /*匹配Excel文件*/ background: url(images/xls.jpg) no-repeat left center; }
a[url="https://blog.bccn.net/attachments/1601"] { /*匹配pig文件*/ background: url(images/xls.jpg) no-repeat left center; }